<<<<<<< HEAD
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 2em;
  background-color: whitesmoke;
}
=======
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 2em;
  background-color: whitesmoke;
}
>>>>>>> 2cfd18384cffe46cb45fed2b848bf6c2824d438d
